input {
  border: solid 1px black;

}


.container {
  margin: 100px;


}
.text-header{
    margin-left: 281px;
}
.c-section{
  width: 100%;
  padding: 30px 0;
}
.c-section-1{
    height: 50px;
}
.c-section-2{
    height: 50px;
}
.c-section-3{
  height: 50px;
}
.c-section-4{
  height: 50px;
}
.c-section-5{
  height: 50px;
}

.c-item {
  margin-bottom: auto;

}
.item{
  float: left;
  margin-right: 73px;

}


.producto-price-1 {
  float: left;
  margin-right: 40px;
}
.producto-price-2{
  float: left;
  margin-left: 60px;
  margin-right: 41px;
}
.producto-price-3{
  float: left;
  margin-left: 62px;
  margin-right: 42px;
}
.producto-price-4{
  float: left;
  margin-left: 43px;
  margin-right: 51px;
}
.producto-price-5{
  float: left;
  margin-left: 63px;
  margin-right: 37px;

}
.container-input{
  float: left;
  margin-left:  90px;
  margin-right: 50px;

}

.no-price{
  float: left;


}
footer{
  clear: both;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    text-align: center;
    width:130px;
    margin-left: 360px;
    padding: 10px;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
    text-align: center;
    width: 120px;
    float: right;
    padding: 10px;
}
.c-create{
  height: 50px;
  margin-bottom: 40px;

}
.c-left-create{
  float: left;
  width: 70%;
  height: 100%;
}
.c-right-create{
  float: right;
  width: 30%;
  height: 100%;
}
.btn-create{
  text-align: center;
  width: 40px;
  float: right;
  background-color: white;
  border: 1px solid black;

}

.quantity {
  margin: 0 5px;
}
.add-price{
  margin-left: 15px;
}
